<div class="affiliations">
    <h5>Affiliations & Internships</h5>

    <table align="center">
        <tbody>
        <tr>
            <td align="center">
                <a href="https://www.iitg.ac.in/" target="_blank">
                <img style="width:80px" src="/assets/img/iitg_logo.png"></a>&nbsp; &nbsp;
            </td>
            <td align="center">
                <a href="" target="_blank">
                <img style="width:120px" src="/assets/img/google_logo.jpg"></a>&nbsp; &nbsp;
            </td>
            <td align="center">
                <a href="" target="_blank">
                <img style="width:120px" src="/assets/img/google_logo.jpg"></a>&nbsp; &nbsp;
            </td>
            <td align="center">
                <a href="https://cs.illinois.edu/" target="_blank">
                <img style="width:80px" src="/assets/img/uiuc_logo.png"></a>&nbsp; &nbsp;
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 10px;"><font size="2">IIT Guwahati<br>2016-2020<br>B. Tech Computer Science</font></td>
            <td align="center" style="padding: 10px;"><font size="2">Google <br>Summer 2019<br>SDE Intern</font></td>
            <td align="center" style="padding: 10px;"><font size="2">Google <br>2020-2022<br>Software Engineer (L4) </font></td>
            <td align="center" style="padding: 10px;"><font size="2">UIUC<br>2022-Present<br>PhD Computer Science</font></td>
        </tr>
        </tbody>
    </table>
  </div>